<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <title>About</title>
</head>
<body>
    
<div class="about-section">
    <h1>About Us</h1>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img class="img" src="../static/images/Abishek.jpg" alt="Abishek" style="width:100%"  >
        <div class="container">
          <h2>Abishek K</h2>
          <p class="title">Founder & Developer</p>
          <br>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../static/images/Karthi.jpg" alt="Karthikeyan K" style="width:100%">
        <div class="container">
          <h2>Karthikeyan K</h2>
          <p class="title">Developer & Designer</p>
          <br>
        </div>
      </div>
    </div> 

    <div class="column">
      <div class="card">
        <img src="../static/chandru1.jpeg" alt="chandru" style="width:100%">
        <div class="container">
          <h2>Chandru R</h2>
          <p class="title">Testing</p>
          <br>
        </div>
      </div>
    </div> 

    <div class="column">
      <div class="card">
        <img src="../static/barath.jpeg" alt="barath R" style="width:100%">
        <div class="container">
          <h2>Barath Kumar R</h2>
          <p class="title">Team member</p>
          <br>
        </div>
      </div>
    </div> 
    </div>
     
</body>
</html>